<div class="min-h-screen bg-gray-100">
  <header class="bg-white shadow">
    <div class="max-w-7xl mx-auto py-6 px-4 flex justify-between items-center">
      <h1 class="text-3xl font-bold text-gray-900">Workout Tracker</h1>
      <nav>
        <ul class="flex space-x-4">
          <li>
            <a
              routerLink="/"
              routerLinkActive="text-indigo-600 font-medium"
              class="hover:text-indigo-600"
            >
              Home
            </a>
          </li>
          <li>
            <a
              routerLink="/form"
              routerLinkActive="text-indigo-600 font-medium"
              class="hover:text-indigo-600"
            >
              Add User
            </a>
          </li>
          <li>
            <a
              routerLink="/chart"
              routerLinkActive="text-indigo-600 font-medium"
              class="hover:text-indigo-600"
            >
              Chart
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <main class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
    <router-outlet></router-outlet>
  </main>
</div>
